:host {
  display: block;
}

#recover-section{
  height: 100vh
}

#help-panel{
width: initial
}

#help-panel img{
  width: 350px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  #recover-section{
      height: initial
  }
  #help-panel{
      margin-top: 25px
  }
}

