<div id="recover-section" class="container-fluid p-5">
  <div class="row w-100 h-100">
    <div
      class="col-sm-12 col-md-6 col-lg-8 h-100 d-flex justify-content-center align-items-center"
    >
      <div
        id="recover-panel"
        class="container-fluid terciary-bg-color shadow rounded d-flex flex-column justify-content-center align-items-center p-5"
      >
        <div>
          <div class="row">
            <div class="col">
              <h2>¿Olvidaste tu contraseña?</h2>
              <h4>
                No te preocupes, estamos aquí para ayudarte a recuperar el
                acceso a tu cuenta.
              </h4>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <p class="lead">
                <strong>
                  Solo sigue los siguientes pasos para recuperar tu contraseña
                </strong>
              </p>
              <ul>
                <li>
                  <strong>Ingresa tu correo electrónico:</strong>
                  Proporciona la dirección de correo electrónico asociada a tu
                  cuenta de Pepe Librería.
                </li>
                <li>
                  <strong>Recibe un enlace de recuperación:</strong>
                  Te enviaremos un enlace para restablecer tu contraseña a tu
                  correo electrónico.
                </li>
                <li>
                  <strong>Restablece tu contraseña:</strong>
                  Sigue las instrucciones del correo para crear una nueva
                  contraseña.
                </li>
              </ul>
            </div>
          </div>
          <div class="row mt-3 w-100">
            <form class="w-100">
              <div class="mb-3 w-100">
                <label for="exampleInputEmail1" class="form-label">
                  Correo electronico
                </label>
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
                <div id="emailHelp" class="form-text">
                  No compartas tu email con nadie.
                </div>
              </div>
              <button type="submit" class="btn btn-primary m-1">
                Recuperar contraseña
              </button>
              <a href="login">
                <button type="button" class="btn btn-primary m-1">
                  Volver al inicio de sesión
                </button>
              </a>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center align-items-center"
    >
      <div
        id="help-panel"
        class="container-fluid flex-column shadow rounded terciary-bg-color d-flex align-items-center justify-content-center"
      >
        <div class="row">
          <div class="col">
            <img
              alt="recuperar_contraseña"
              src="./assets/img/recuperar-contrasena/recuperar-contrasena.webp"
            />
          </div>
        </div>
        <div class="row mt-5">
          <div class="col">
            <h5>¿Necesitas Ayuda Adicional?</h5>
            <p class="lead">
              Si no recibes el correo electrónico de recuperación después de
              unos minutos, prueba los siguientes pasos:
            </p>
            <ul>
              <li>
                Verifica tu carpeta de spam o correo no deseado: A veces, los
                correos electrónicos pueden terminar allí por error.
              </li>
              <li>
                Asegúrate de que ingresaste la dirección de correo electrónico
                correcta: Revisa que no haya errores tipográficos.
              </li>
              <li>
                Intenta nuevamente: Si no recibes el correo después de verificar
                lo anterior, intenta enviar el enlace de recuperación otra vez.
              </li>
            </ul>
            <p class="lead">
              Si aún tienes problemas para recuperar tu contraseña, no dudes en
              contactarnos. Nuestro equipo de soporte está disponible para
              asistirte:
            </p>
            <ul>
              <li>
                Correo electrónico de soporte: {{ "soporte@pepelibreria.com" }}
              </li>
              <li>Teléfono de soporte: +56 9 1234 5678</li>
            </ul>
            <p class="lead">
              Gracias por ser parte de la comunidad de Pepe Librería. Queremos
              asegurarnos de que tengas la mejor experiencia posible.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
