:host {
  display: block;
}
#profile-panel {
  height: 100vh;
}

#profile-panel img {
  border-radius: 50%;
  width: 350px;
}

#profile-panel .row {
  width: 75%;
}

@media (max-width: 1024px) {
  #profile-panel {
    height: 150vh;
  }
}

@media (max-width: 768px) {
  #profile-panel .row {
    width: 100%;
  }
}
